@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfCLzEXFh3peWbImse0WvgppjHH2T0LUDcgsn_py67YYve0kJQiiJFSvt4hzmoaQ&skey=c92268a3e57ee309&v=v33) format('woff');
}
@font-face {
  font-family: 'Changa One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=xfu00W3wXn3QLUJXhzq46APovrfaAYvwCAR3GKVmdmBN1xyG4l3ro816csmrmTDVOgKhTlV6vt5D-3k&skey=b778b7c8d55425c&v=v20) format('woff2');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=SlGVmQWMvZQIdix7AFxXoHFYajQVUC_o7yv6ZvA9T-I1I__M1DwfN5-wvGzLJi8kGguDzdg5QerIn-U&skey=89a402e2c0235a02&v=v18) format('woff2');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=tDbI2oqRg1oM3QBjjcaDkNr_pgL0GzajbQCXoFW7SaMOciPC6vPO0GqjAjrrSXCUrkhJ9YHvZbrQGBKn&skey=a46d7e8bf49adcd6&v=v19) format('woff2');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=4UaZrEtFpBI4f1ZSIK9d4LjJ4lM3CwBsOl4o7IuUnQDP7Yk5qJx8yKBAfGZg7chL4YJ709qrC-AJ60KFY1BLI_67Sg&skey=863005d54d49b6b0&v=v21) format('woff');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=RWmMoKWR9v4ksMfaWd_JN-XHg6MKDFNPKhXXbjMQi2AfVekKMGLIzn1RShYS7Di4vGQ9z1XaPwcJhNoE&skey=1a66edef5eadc723&v=v18) format('woff2');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/l/font?kit=QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8aRn8lleZ0cqrKVycpqHd4Alen99ec3iN0eTfQQmGEGS1FEPH0_lHWICgdlv4wQ&skey=20fa6569a31c71ee&v=v32) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZtrib2Ai-7mXRHPWsMPaC9z_WZ-KqZtVHdhFouk1a0e4HlJ8GiYMahxAyvZyg&skey=c491285d6722e4fa&v=v13) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=S6uyw4BMUTPHvxw6WQevLgPIr55xq7MRmoOKXN3-bAF-ObNuSlZ9VbHQtkQYiOT6t35CoSo&skey=2d58b92a99e1c086&v=v24) format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=u-440qyriQwlOrhSvowK_l5OfixLV-fNitmrfjnDRNA93NqXXeLRlzCLaZnJYorawTDJik6EZhZ5ZwiHWg&skey=379c1eccf863c625&v=v30) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew9Y3tco6q5Cp3r9c4PMlb-mP7NYZt7qI2teQ9XgzbogZnIRzt5ivnQZvaBrpY&skey=7bc19f711c0de8f&v=v26) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4kY1M2xbkRTBVn2l56W8-iT_5mC4Xy9CTqD5Cas-mjkCWxiZVMq9LtAEOP_FE&skey=62c1cbfccc78b4b2&v=v40) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUJoZAaQniG1JQyWET0UesSqOtt1yLz5HJV6WNZZ-NtuZoI-rqJV4HkBZuRmLw&skey=653237e53512d0de&v=v53) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=jizaRExUiTo99u79P0COwuGNGhE4uXF3zhmAxJbuttTnU6WaBoE8s7zjEmWI-5X--Cl-GAKoUOc&skey=fd0b32f0f3e6a1fc&v=v17) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=EJRVQgYoZZY2vCFuvDFUxLiddxzbhYkDtMjd52DwUfGLnPaREWHcXpjUG1UmcZN0G1wPgwrQX7Uw&skey=e37119e9cd703ddf&v=v18) format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=4iCs6KVjbNBYlgo6fQTxv0y6M6QlwMlMoB1F-US3TugybQqXDDKk0rXyifHJPlBULvDbYjHPOw&skey=7e59fc036a1a8481&v=v20) format('woff2');
}
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=DPEtYwqExx0AWHXJARQDfv3plGdhVuuxHCb_k76aMlnUriw_6L45lA_fGcp7Mb-I4ibDYhMcag&skey=e7f38a65469a1a82&v=v16) format('woff2');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=w8gdH283Tvk__Lua32TysjIvpcGID9kbQg0CSXrjZ-JWkEJ5CAxjzw7vCox-HQvhUT-aIZEMB_STVCUoMQ&skey=f4466053e3923597&v=v20) format('woff2');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGuGmOdEbHy36IYLnKbsJGi8A81qiNsKRcF-kR0Q1AMmP_SiJ48Zxk3iHyjYtzR&skey=70793812edfff824&v=v23) format('woff');
}
